<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta content="description" name="description" />
    <meta name="google" content="notranslate" />
    <meta
      content="Mashup templates have been developped by Orson.io team"
      name="author"
    />
    <meta name="msapplication-tap-highlight" content="no" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='apple-icon-180x180.png')}}"
    />
    <link href="{{ url_for('static', filename='favicon.ico')}}" rel="icon" />

    <title>RL for Autonomous Vehicles</title>

    <link
      href="{{ url_for('static', filename='main.3f6952e4.css')}}"
      rel="stylesheet"
    />
  </head>

  <body class="">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>
    <header>
      <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar-collapse"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/index.html" title="">01 : Home</a></li>
              <li><a href="/projects.html" title="">02 : Projects</a></li>
              <li><a href="/about.html" title="">03 : About me</a></li>
              <li><a href="/contact.html" title="">04 : Contact</a></li>
            </ul>

            <ul
              class="nav navbar-nav navbar-right navbar-small visible-md visible-lg"
            >
            <li><a href="./RL.html" title="" class="active">001</a></li>
            <li><a href="./OD.html" title="">002</a></li>
            <li><a href="./Segmentation.html" title="">003</a></li>
            <li><a href="./Tweet.html" title="">004</a></li>
            <li><a href="./Scraper.html" title="">005</a></li>
            <li><a href="./Pwned.html" title="">006</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="section-container">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <img
              src="/static/images/work001-01.jpg"
              class="img-responsive"
              alt=""
            />
            <div class="card-container">
              <div class="text-center">
                <h1 class="h2">001 : Reinforcement Learning for Autonomous Vehicles</h1>
              </div>
              <p class = "text-center">
                This project was completed in satisfaction with the capstone project requirements
                of Inspirit AI's Deep Dives: Designing Deep Learning Systems program as part of a group
                of 5 people and under the mentorship of a then Lead Data Scientist at CatapultX.
                It involves training a reinforcement learning agent with autonomous driving capabilities
                using a Deep Convolutional Neural Network and Q-Learning principles. The agent was also fine-tuned
                to learn from past observations and act upon a known policy to maximize the reward it gains from the environment.
                To view the project, please visit <a target = "_blank" href = "https://github.com/SXV357/Inspirit-AI-Deep-Dive-Designing-DL-Systems-FinalProject-RL-for-Autonomous-Vehicles">this link</a>. 
              </p>
            </div>
          </div>

          <div class="col-xs-12">
            <img
              src="/static/images/RL_2_2276x1400.png"
              class="img-responsive"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>

    <footer class="footer-container text-center">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p>
              Copyright © 2023 SHREYAS VISWANATHAN | Website created with
              <a
                href="http://www.mashup-template.com/"
                title="Create website with free html template"
                >Mashup Template</a
              >/<a
                href="https://www.unsplash.com/"
                title="Beautiful Free Images"
                >Unsplash</a
              >
            </p>
          </div>
        </div>
      </div>
    </footer>

    <script>
      document.addEventListener("DOMContentLoaded", function (event) {
        navActivePage();
      });
    </script>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='main.70a66962.js')}}"
    ></script>
  </body>
</html>
